.nav-text {
  color: var(--bs-gray);
}
.nav-container {
  display: flex;
  justify-content: right;
  padding: 7px;
}
@media (min-width: 1080px) { 
  .nav-container{
  display: flex;
  justify-content: center;
  padding: 7px;
  };
};
.nav-div {
  border-radius: 6px;
  padding: 5px;
}
.navbar-toggler:hover {
  background-color: var(--bs-orange);
  cursor: pointer;
  -webkit-transition: background-color .35s ease-out;
  -moz-transition: background-color .35s ease-out;
  -o-transition: background-color .35s ease-out;
  transition: background-color .35s ease-out;
}
.header{
  color: var(--bs-dark);
}
.about-me-text{
  
  color: var(--bs-dark);
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    45deg,
    rgba(204, 88, 26, 0.747),
    rgba(2, 1, 49, 0.856) 100%
  );
  
  
}
.item-1 {
  padding-top: 20px;
  max-width: 500px;
 
}
.item-2 {
  max-width: 500px;
  margin-bottom: 100px;
}

.item-3 {
  max-width: 500px;
}
.item-4{
  margin:100px;

}
.btn:hover{
   background-color: var(--bs-orange);
  cursor: pointer;
  -webkit-transition: background-color .35s ease-out;
  -moz-transition: background-color .35s ease-out;
  -o-transition: background-color .35s ease-out;
  transition: background-color .35s ease-out;
}

.cvContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--bs-dark);
}



:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #2c08f581;
  --bs-purple: #3a033763;
  --bs-pink: #b10059;
  --bs-red: #250206ef;
  --bs-orange: #f56708c5;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #4c5964;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #b94517c4;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #00050a;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}