.nav-text {
  color: var(--bs-gray);
}
.nav-container {
  display: flex;
  justify-content: right;
  padding: 7px;
}
.nav-div {
  border-radius: 7px;
  padding: 5000px;
}
.nav-div:hover {
  background-color: var(--bs-secondary);
  cursor: pointer;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
    45deg,
    rgba(204, 88, 26, 0.747),
    rgba(2, 1, 49, 0.671) 100%
  );
}

.item1 {
  max-width: 50%;
  margin-top: 10%;
}

.contain-text{
  justify-content: center;
}

.item2 {
  margin-top: 50%;
  height: 60px;
}

.item3 {
  margin-top: 50%;
  margin-bottom: 50%;
}
.item4 {
  margin-top: 50%;
  margin-bottom: 50%;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #12032b;
  --bs-purple: #6f42c1;
  --bs-pink: #b10059;
  --bs-red: #ff011a;
  --bs-orange: #fc7100cf;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #4a4952;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
